.my-instrument{


          color: rgb(192, 145, 88);
}
.my-drem{

          color: #DA8C53
}
/* .all-review {

          
           background-color: aquamarine;
           
} */

/* .home-link{
           width: 20px;
          align-items: center;
           height: 20px;

} */
 